.about__sectionContainer {
    background-color: rgba(148, 186, 219, 0.541);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 4rem auto;
    align-items: center;
  }
  
  .about__sectionContainer .about__dataContainer,
  .about__sectionContainer .about__photoContainer {
    padding: 2rem;
  }
  
  .about__sectionContainer .about__photoContainer img {
    width: 70%;
    height: 70vh;
    object-fit: cover;
    border-radius: 10px;
  }
  
  
  
  .about__sectionContainer .about__dataContainer p {
    text-align: justify;
    margin-bottom: 3rem;
  }
  
  /* Media queries */
  
  @media screen and (min-width: 768px) {
    .about__sectionContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }