.form__sectionContainer{
    background-color: rgba(200, 91, 204, 0.281);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 4rem auto;
    align-items: center;
    
   
  }
  
  .form__sectionContainer .form__dataContainer,
  .form__sectionContainer .form__photoContainer {
    padding: 3rem;
  }
  
  .form__sectionContainer .form__photoContainer img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    &:hover{
      color: rgb(2, 15, 15);
    box-shadow:5px 5px 20px rgba(0,0,0,0.6) ;
    transform: translateY(-3%);
    }

  }
  
  
  
  .form__sectionContainer  p{

    text-align: justify;
    margin: 3rem ;

  }

  .titulo{
  color: blueviolet;
  
 }
  /* Media queries */
  
  @media screen and (min-width: 768px) {
    .form__sectionContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
  
 