  
  .portada{
    height: 80vh;
    background-image: url(../images/portada.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portada div{
    color: aliceblue;
    font-size: 2rem;
   text-align: center;
   background-color: rgba(12, 11, 11, 0.336);
   width: 100%;
   padding: 15px;
  }

  .carousel-container{
    display: flex;
    justify-content: center;
  }

 