.slide {
    margin-top: 10px;
  }
  .slide img{
    height: 65vh;
  }
   
  #principal img {
    width: 100%;
    height: 400px; 
  }
  #principal img:hover {
    border: 10px solid #dda8d0 ;
  }
    
  